# Publish snapshots to the Sonatype Nexus Repository for each commit which passes tests on develop.

name: Publish snapshots

on:
  push:
    branches: 
      - develop

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up 'publish.properties'
        run: |
          echo "${{ secrets.SIGNING_KEY_FILE }}" > signingKey.asc
          echo "${{ secrets.PUBLISH_PROPERTIES }}" > publish.properties

      - name: Build and test
        run: ./gradlew build 
        
      - name: Verify typescript declarations
        if: success()
        run: ./gradlew verifyTsDeclarations

      - name: Deploy snapshot
        if: success()
        run: ./gradlew publishSnapshot
