# Publish release to Maven for every push to master.

name: Release

on:
  push:
    branches: 
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up 'publish.properties'
        run: |
          echo "${{ secrets.SIGNING_KEY_FILE }}" > signingKey.asc
          echo "${{ secrets.PUBLISH_PROPERTIES }}" > publish.properties
          
      - name: Build and test
        run: ./gradlew build 
        
      - name: Verify typescript declarations
        if: success()
        run: ./gradlew verifyTsDeclarations

      - name: Publish to staging repo
        if: success()
        run: ./gradlew publishSigned
      
      - name: Release staged repo
        if: success()
        run: ./gradlew closeAndReleaseRepository
